nav a {
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    color: white;
    border-bottom: 0px solid black;
}

nav a:hover {
    border-bottom: 1px solid white;
    transition: 300ms ease;
}