.post {
    border: 1px solid rgb(110, 110, 213);
    width: 75%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 5px;
}

.post-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.message-content {
    color: white;
    width: 100%;
}

.full-name {
    color: white;
    font-weight: bold;
}

.user-div {
    display: flex;
}

.msg-username {
    color: rgb(224, 211, 211);
}

.msg-date {
    color: rgb(224, 211, 211);
}