<!-- Welcome message -->
<% if (user) { %>
    <h1>Welcome back, <%=user.first_name%> <%=user.last_name%></h1>
<% } else { %>
    <h1>Please login or register to see posts</h1>
<% } %>

<!-- Map the messages posted below -->
<div class="timeline">
  <%  if (messages) { %>
    <% messages.map((message)=>{ %>
        <%- include('../partials/post.ejs', {message:message}) %>
     <% }) %>
 <%   } else { %>
        <h2>No messages posted yet</h2>
  <%  } %>


</div>
