<!-- Display the user's name -->
<% if (user) { %>
    <h1><%=profile.first_name%> <%=profile.last_name%></h1>
    <span class="username-header">@<%=profile.username%></span>
<% } else { %>
    <h1>Please login or register to see posts</h1>
<% } %>

<!-- Map the messages posted below -->
<div class="timeline">
    <% messages.map((message)=>{ %>
        <%- include('../partials/post.ejs', {message:message}) %>
     <% }) %>
</div>
