<form method="POST" action="/register">
    <h2>Sign up for Greendale Forums to make posts</h2>
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" required><br>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" required><br>
    <label for="username">Username</label>
    <input type="text" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Register</button>
</form>